@model DeckBuilder.Models.Series

@{
    ViewBag.Title = "Update";
}

<h2>Update @Model.SeriesName</h2>
<form method="POST" action="/Series/Update/@Model.SeriesID">
    <div>
        <label name="SeriesName">Series Name: </label>
        <input type="text" name="SeriesName" id="SeriesName" value="@Model.SeriesName" />
    </div>
    <div>
        <label name="SeriesCode">Series Code: </label>
        <input type="text" name="SeriesCode" id="SeriesCode" value="@Model.SeriesCode" />
    </div>
    <input type="submit" value="Update Series" />
</form>
