@model List<DeckBuilder.Models.Card>

@{
    ViewBag.Title = "List";
}

<h2>Card List</h2>
<div class="row">
    <a href="/Card/Add">Add a new Card</a>
</div>
<div>
    <h3>Filter: </h3>
    <form action="/Card/List" method="GET">
        <label name="cardNameFilter">Card Name: </label>
        <input type="text" name="cardNameFilter" id="cardNameFilter" />        
        <input type="submit" value="Filter" />
    </form>
</div>
<div class="scrollbar">
    @{
        foreach (var card in @Model)
        {
            <div class="col-sm-3">
                <div align="center">
                    <img src="../../Content/Cards/@(card.PicID).@(card.PicExtension)" alt="Image of @card.CardName" />
                </div>
                <div align="center">
                    <a href="/Card/Show/@card.CardID">@card.CardName</a>
                </div>
                <div align="center">
                    Series: <a href="/Series/Show/@card.SeriesID">@card.Series.SeriesName</a>
                </div>
                <div align="center">
                    <form method="POST" action="/Card/Delete/@card.CardID">
                        <input id="submit" type="submit" value="Delete" />
                    </form>
                </div>
            </div>
        }
    }
</div>
<div class="row"></div>