
@{
    ViewBag.Title = "Add";
}

<h2>Add a new Trait</h2>
<form method="POST" action="/Trait/Add">
    <div>
        <label name="TraitName">Trait Name: </label>
        <input type="text" name="TraitName" id="TraitName" />
    </div>
    <input type="submit" value="Add Trait" />
</form>

