@model List<DeckBuilder.Models.Trait>

@{
    ViewBag.Title = "List";
}

<h2>Trait List</h2>
<a href="/Trait/Add">Add a new Trait</a>
<table>
    <thead>
        <tr>
            <th class="col-sm-1">Trait Name</th>
            <th class="col-sm-1">Delete</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var trait in @Model)
            {
                <tr>
                    <td class="col-sm-1"><a href="/Trait/Show/@trait.TraitID">@trait.TraitName</a></td>
                    <td class="col-sm-1">
                        <form method="POST" action="/Trait/Delete/@trait.TraitID">
                            <input id="submit" type="submit" value="Delete" />
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
